// Variables

$_red : #ef7878;
$_darkRed : #c96767;
$_lightBlue : #a8cfef;
$_midBlue : #95b9d1;
$_black : #1d5b89;
$_white : #fff;
$_whiteRGBA : rgba(255, 255, 255, 1);
$_whiteRGBA0 : rgba(255,255,255, 0);
$_gray : #ebeced;

$_redRGBA0 : rgba(239, 120, 120, 0);
$_redRGBA : rgba(239, 120, 120, 1);
$_blackRGBA : rgba(29, 91, 137, 1);
$_blackRGBA0 : rgba(29, 91, 137, 0);


$bezier : cubic-bezier(.75,0,.2,1);


