/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "variables";
@import "fonts";

* {
	@include box-sizing(border-box);
}

%button {
	@include transition(background-color .2s ease, padding .2s ease, border .2s ease, margin .2s ease);

	font-size: 1em;
	font-family: "franklin-gothic-urw", "franklin gothic", verdana, sans-serif;
	line-height: 1.3888888888;

	padding: 1em;
	background-color: $_red;
	color: $_white;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin: 0;
	line-height: 1;
	outline: none;
	border: none;

	&:hover {
		background-color: shade($_red, 30%);
		color: $_white;
	}
}

%button-lightBlue {
	@extend %button;
	background-color: $_lightBlue;
	&:hover {
		background-color: shade($_lightBlue, 30%);
	}
}

%button-darkBlue {
	@extend %button;
	background-color: $_black;
	&:hover {
		background-color: shade($_black, 30%);
	}
}

%button-darkRed {
	@extend %button;
	background-color: $_darkRed;
	&:hover {
		background-color: shade($_darkRed, 30%);
	}
}

%button-plainText {
	@extend %button;
	background-color: rgba(255,255,255,0);
	color: $_red;
	padding: 1em 0 0 0;
	margin: 0 1em 1em 1em;
	border-bottom: 2px solid $_redRGBA0;
	&:hover {
		background-color: rgba(255,255,255,0);
		padding: 1em 0;
		border-bottom: 2px solid $_redRGBA;
		color: $_red;
		margin: 0 1em;
	}
} 
%section {
	width: 100%;
	margin-bottom: 2em
}

%default-text-style {
	font-size: 16px;
	color: $_black;
	font-family: "franklin-gothic-urw", "franklin gothic", verdana, sans-serif;
	line-height: 1.3888888888
}

%clear-default-input-style {
	outline: none;
	border: none;
	@extend %default-text-style;
	padding: calc(1em - 2px);
	background-color: $_lightBlue;
	margin: 0;
	line-height: 1;
	width: 250px;
	vertical-align: top;
}

%homepage-info-div {
	width: 40%;
	margin: 3em auto 5em;
	color: $_white;

	h2 {
		text-align: center;
	}

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .7em;
	}
}

%responsive-block {
	overflow: hidden;

	@media all and (min-width: 900px) {
		width: 40%;
		margin: 3em auto;
	}
}

%listing-block {
	@extend %responsive-block;

	margin: 3em auto;

	a.email, a.url {
		padding-right: 1em;
	}

	p {
		margin: 1em 0;
	}
}

h2 {
	font-weight: bold;
}

body {
	@extend %default-text-style;
	margin: 0;
}

img {
	max-width: 100%;
}

a {
	color: $_red;
	text-decoration: none;

	&:hover {
		color: $_darkRed;
	}
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


// HEADER STYLES

.search {

	width: 45%;
	float: left;
	position: fixed;
	top: 0;
	left: 0;

	a.home-button {
		float: left;
		background-color: $_black;
		padding: .35em .4em 0 .4em;
	}

	img {
		//display: none;
		width: 37px;
	}

	::-webkit-input-placeholder {
		@include transition(opacity .6s $bezier .2s);
		color: $_white;
		opacity: 0;
	}

	:-moz-placeholder { /* Firefox 18- */
		@include transition(opacity .6s $bezier .2s);
		color: $_white;  
		opacity: 0;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		@include transition(opacity .6s $bezier .2s);
		color: $_white;
		opacity: 0;
	}

	:-ms-input-placeholder {  
		@include transition(opacity .6s $bezier .2s);
		color: $_white; 
		opacity: 0; 
	}

	input[type="text"] {
		@include transition(width .6s $bezier .3s, padding .6s $bezier .3s);
		@extend %clear-default-input-style;

		background-color: $_gray;

		width: 0;
		padding: 15px 0 14px 0;
	}

	&:hover {

		@include transition(opacity .6s $bezier);

		::-webkit-input-placeholder {
			@include transition(opacity .6s $bezier .2s);
			opacity: 1;
		}

		:-moz-placeholder { /* Firefox 18- */
			@include transition(opacity .6s $bezier .2s);
			opacity: 1;
		}

		::-moz-placeholder {  /* Firefox 19+ */
			@include transition(opacity .6s $bezier .2s);
			opacity: 1;
		}

		:-ms-input-placeholder {  
			@include transition(opacity .6s $bezier .2s);
			opacity: 1;
		}

		input {
			@include transition(width .6s $bezier, padding .6s $bezier);
			width: 280px;
			padding: 15px 15px 14px 15px;
		}
	}

	input[type="text"]:focus {
		@include transition(width .6s $bezier, padding .6s $bezier);
		width: 280px;
		padding: 15px 15px 14px 15px;
	}
}

.login {
	width: 50%;
	float: right;
	text-align: right;
}

.search-button {
	@extend %button-lightBlue;
	@extend %icon;
	color: $_white;
}

.header-button {
	@extend %button-plainText;
}

.header {
	width: 100%;
	background-color: $_white;
	overflow: hidden;
}

// FORM STYLES 

fieldset {
	float: left;
	margin-top: 1em;
	&.half {
		width: 50%;
		&:nth-of-type(even) {
			padding-left: 1em;
		}

		&:nth-of-type(odd) {
			padding-right: 1em;
		}

		&:nth-of-type(10) {
			padding-right: 1em;
			padding-left: 0;
		}

		&:nth-of-type(11) {
			padding-right: 0;
		}

		&:nth-of-type(6) {
			margin-top: 2.4em;
		}
	}

	#char-count {
		color: $_lightBlue;
		float: right;
		display: inline-block;

		&.under10 {
			color: $_black;
		}

		&.negative {
			color: $_red;
		}
	}

	&.full {
		width: 100%;
		float: left;
	}

	input[type="text"], input[type="email"], input[type="password"], textarea {
		@extend %default-text-style;

		width: 100%;
		background-color: $_gray;
		border: 1px solid shade($_gray, 10%);
		padding: .5em;
	}

	input, textarea {
		&:focus {
			box-shadow: none;
			appearance: none;
			border: 1px solid shade($_gray, 10%);
			outline: none;
		}
	}
}

input[type="submit"] {
	font-family: "franklin-gothic-urw", verdana, sans-serif;
	font-size: 1em;
	border: none;
	outline: none;
	color: $_white;
	background-color: $_red;
	padding: .7em;
	margin-top: 1.4em;
	float: right;
}

// INDEX PAGE STYLES

.brand {
	@extend %responsive-block;
	border-bottom: 1px solid $_lightBlue;


	.logo {
		margin: 5em auto .5em auto;
		text-align: center;
	}

	h1 {
		text-align: center;
		letter-spacing: 1;
		margin-bottom: 1em;
		font-weight: bold;
	}

	p {
		text-align: center;
		color: $_lightBlue;
		margin-bottom: 2em;
	}

}

.about {
	background-color: $_red;
	padding: 1em 0;

	.network, .membercard, .site {
		@extend %homepage-info-div;
	}
}

.query {

	@extend %listing-block;

	margin-bottom: 1em;

	.profile {
		margin-bottom: 4em;
	}

	.search-term {
		color: $_red;
	}

	.media {
		display: block;
		border-bottom: 1px solid $_lightBlue;
		padding-bottom: 1em;
		margin-bottom: 1em;
	}

	p.pre-results {
		margin-bottom: 2em;
	}

	.tags {

		border-bottom: 1px solid $_lightBlue;
		padding-bottom: 1em;
		margin-bottom: 1em;

		.tag {
			display: inline-block;
			margin: 0 .2em .4em 0;
			position: relative;
			a {
				color: $_black;
				padding: .2em .5em;
				background-color: $_lightBlue;
				display: inline-block;
				&:hover {
					background-color: shade($_lightBlue, 10%);
				}
			}
		}
	}

}

.result {
	@extend %listing-block;

	p {
		margin: .5em 0;
	}

	h2 {
		margin-top: 0;
	}

	margin-top: 0;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid $_lightBlue;

	&.last-result {
		border-bottom: none;
	}
}

.pagination {

	margin-bottom: 4em;

	.pagination-container {
		@extend %responsive-block;
		position: relative;
	}

	.prev {
		@extend %icon;
		text-align: left;
		position: absolute;
		top: 2px;
		left: 0;
		cursor: pointer;
	}

	.count {
		text-align: center;
		display: block;
		width: 100%;
	}

	.next {
		@extend %icon;
		text-align: right;
		position: absolute;
		top: 2px;
		right: 0;
		cursor: pointer;
	}
}

//REGISTER PAGE STYLES

.register-user {
	@extend %responsive-block;
	margin-top: 3em;
}

#registration {
	margin-bottom: 2em;
	overflow: hidden;

	label {
		color: $_red;
	}
}

.login-page {
	@extend %responsive-block;

	h2 {
		margin-bottom: 1em;
	}

	input[type="submit"] {
		float: left;
	}


}

.badge-info {
	pre {
		font-family: Monaco, Courier Prime, courier new, courier, monospace;
		background-color: $_gray;
		font-size: .8em;
		padding: .1em;
		border-radius: 2px;
		display: inline;
		code {
			display: inline;
		}
	}

	.badge-demo-container {
		.badge {
			display: inline-block;
			width: 100px;
			&.dark {
				background-color: $_black;
			}
		}
	}
}

// FOOTER STYLES

footer {
	background-color: $_red;
	padding: 3em;
	margin-top: 3em;
	img {
		display: block;
		margin: auto;
	}
}


