/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../sass/_fonts.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 30, ../sass/_fonts.scss */
.icon-icons-04, .icon-icons-03, .icon-icons-02, .icon-icons-01 {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 40, ../sass/_fonts.scss */
.icon-icons-04:before {
  content: "\3e";
}

/* line 43, ../sass/_fonts.scss */
.icon-icons-03:before {
  content: "\3c";
}

/* line 46, ../sass/_fonts.scss */
.icon-icons-02:before {
  content: "\78";
}

/* line 49, ../sass/_fonts.scss */
.icon-icons-01:before {
  content: "\73";
}

/* line 53, ../sass/_fonts.scss */
.search-button, .pagination .prev, .pagination .next {
  font-family: "icomoon" !important;
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased !important;
}

/* line 11, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/screen.scss */
.search-button, .header-button {
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  font-size: 1em;
  font-family: "franklin-gothic-urw", "franklin gothic", verdana, sans-serif;
  line-height: 1.3888888888;
  padding: 1em;
  background-color: #ef7878;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  line-height: 1;
  outline: none;
  border: none;
}
/* line 33, ../sass/screen.scss */
.search-button:hover, .header-button:hover {
  background-color: #a75454;
  color: white;
}

/* line 39, ../sass/screen.scss */
.search-button {
  background-color: #a8cfef;
}
/* line 42, ../sass/screen.scss */
.search-button:hover {
  background-color: #7590a7;
}

/* line 63, ../sass/screen.scss */
.header-button {
  background-color: rgba(255, 255, 255, 0);
  color: #ef7878;
}
/* line 67, ../sass/screen.scss */
.header-button:hover {
  background-color: #ebeced;
  color: #ef7878;
}

/* line 77, ../sass/screen.scss */
.search input[type="text"], body, fieldset input[type="text"], fieldset input[type="email"], fieldset input[type="password"], fieldset textarea {
  font-size: 16px;
  color: #1d5b89;
  font-family: "franklin-gothic-urw", "franklin gothic", verdana, sans-serif;
  line-height: 1.38889;
}

/* line 84, ../sass/screen.scss */
.search input[type="text"] {
  outline: none;
  border: none;
  padding: calc(1em - 2px);
  background-color: #a8cfef;
  margin: 0;
  line-height: 1;
  width: 250px;
  vertical-align: top;
}

/* line 96, ../sass/screen.scss */
.about .network, .about .membercard, .about .site {
  width: 40%;
  margin: 3em auto 5em;
  color: white;
}
/* line 101, ../sass/screen.scss */
.about .network h2, .about .membercard h2, .about .site h2 {
  text-align: center;
}
/* line 105, ../sass/screen.scss */
.about .network img, .about .membercard img, .about .site img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .7em;
}

/* line 113, ../sass/screen.scss */
.query, .result, .brand, .pagination .pagination-container, .register-user, .login-page {
  overflow: hidden;
}
@media all and (min-width: 900px) {
  /* line 113, ../sass/screen.scss */
  .query, .result, .brand, .pagination .pagination-container, .register-user, .login-page {
    width: 40%;
    margin: 3em auto;
  }
}

/* line 122, ../sass/screen.scss */
.query, .result {
  margin: 3em auto;
}
/* line 127, ../sass/screen.scss */
.query a.email, .result a.email, .query a.url, .result a.url {
  padding-right: 1em;
}
/* line 131, ../sass/screen.scss */
.query p, .result p {
  margin: 1em 0;
}

/* line 136, ../sass/screen.scss */
h2 {
  font-weight: bold;
}

/* line 140, ../sass/screen.scss */
body {
  margin: 0;
}

/* line 145, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 149, ../sass/screen.scss */
a {
  color: #ef7878;
  text-decoration: none;
}
/* line 153, ../sass/screen.scss */
a:hover {
  color: #c96767;
}

/* line 158, ../sass/screen.scss */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/* line 172, ../sass/screen.scss */
.search {
  width: 30%;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 180, ../sass/screen.scss */
.search img {
  display: none;
  width: 45px;
}
/* line 185, ../sass/screen.scss */
.search ::-webkit-input-placeholder {
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  color: white;
  opacity: 0;
}
/* line 191, ../sass/screen.scss */
.search :-moz-placeholder {
  /* Firefox 18- */
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  color: white;
  opacity: 0;
}
/* line 197, ../sass/screen.scss */
.search ::-moz-placeholder {
  /* Firefox 19+ */
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  color: white;
  opacity: 0;
}
/* line 203, ../sass/screen.scss */
.search :-ms-input-placeholder {
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  color: white;
  opacity: 0;
}
/* line 209, ../sass/screen.scss */
.search input[type="text"] {
  -webkit-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.3s, 0.3s;
  -moz-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s, padding 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s;
  -o-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s, padding 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s;
  transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s, padding 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s;
  background-color: #ebeced;
  width: 0;
  padding: 15px 0 14px 0;
}
/* line 219, ../sass/screen.scss */
.search:hover {
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
}
/* line 223, ../sass/screen.scss */
.search:hover ::-webkit-input-placeholder {
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  opacity: 1;
}
/* line 228, ../sass/screen.scss */
.search:hover :-moz-placeholder {
  /* Firefox 18- */
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  opacity: 1;
}
/* line 233, ../sass/screen.scss */
.search:hover ::-moz-placeholder {
  /* Firefox 19+ */
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  opacity: 1;
}
/* line 238, ../sass/screen.scss */
.search:hover :-ms-input-placeholder {
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  opacity: 1;
}
/* line 243, ../sass/screen.scss */
.search:hover input {
  -webkit-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -moz-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -o-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  width: 280px;
  padding: 15px 15px 14px 15px;
}
/* line 250, ../sass/screen.scss */
.search input[type="text"]:focus {
  -webkit-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -moz-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -o-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  width: 280px;
  padding: 15px 15px 14px 15px;
}

/* line 257, ../sass/screen.scss */
.login {
  width: 50%;
  float: right;
  text-align: right;
}

/* line 263, ../sass/screen.scss */
.search-button {
  color: white;
}

/* line 273, ../sass/screen.scss */
.header {
  width: 100%;
  background-color: white;
  overflow: hidden;
}

/* line 281, ../sass/screen.scss */
fieldset {
  float: left;
  margin-top: 1em;
}
/* line 284, ../sass/screen.scss */
fieldset.half {
  width: 50%;
}
/* line 286, ../sass/screen.scss */
fieldset.half:nth-of-type(even) {
  padding-left: 1em;
}
/* line 290, ../sass/screen.scss */
fieldset.half:nth-of-type(odd) {
  padding-right: 1em;
}
/* line 294, ../sass/screen.scss */
fieldset.half:nth-of-type(10) {
  padding-right: 1em;
  padding-left: 0;
}
/* line 299, ../sass/screen.scss */
fieldset.half:nth-of-type(11) {
  padding-right: 0;
}
/* line 303, ../sass/screen.scss */
fieldset.half:nth-of-type(6) {
  margin-top: 2.4em;
}
/* line 308, ../sass/screen.scss */
fieldset #char-count {
  color: #a8cfef;
  float: right;
  display: inline-block;
}
/* line 313, ../sass/screen.scss */
fieldset #char-count.under10 {
  color: #1d5b89;
}
/* line 317, ../sass/screen.scss */
fieldset #char-count.negative {
  color: #ef7878;
}
/* line 322, ../sass/screen.scss */
fieldset.full {
  width: 100%;
  float: left;
}
/* line 327, ../sass/screen.scss */
fieldset input[type="text"], fieldset input[type="email"], fieldset input[type="password"], fieldset textarea {
  width: 100%;
  background-color: #ebeced;
  border: 1px solid #d3d4d5;
  padding: .5em;
}
/* line 337, ../sass/screen.scss */
fieldset input:focus, fieldset textarea:focus {
  box-shadow: none;
  appearance: none;
  border: 1px solid #d3d4d5;
  outline: none;
}

/* line 346, ../sass/screen.scss */
input[type="submit"] {
  font-family: "franklin-gothic-urw", verdana, sans-serif;
  font-size: 1em;
  border: none;
  outline: none;
  color: white;
  background-color: #ef7878;
  padding: .7em;
  margin-top: 1.4em;
  float: right;
}

/* line 360, ../sass/screen.scss */
.brand {
  border-bottom: 1px solid #a8cfef;
}
/* line 365, ../sass/screen.scss */
.brand .logo {
  margin: 5em auto 0.5em auto;
  text-align: center;
}
/* line 370, ../sass/screen.scss */
.brand h1 {
  text-align: center;
  letter-spacing: 1;
  margin-bottom: 1em;
  font-weight: bold;
}
/* line 377, ../sass/screen.scss */
.brand p {
  text-align: center;
  color: #a8cfef;
  margin-bottom: 2em;
}

/* line 385, ../sass/screen.scss */
.about {
  background-color: #ef7878;
  padding: 1em 0;
}

/* line 394, ../sass/screen.scss */
.query {
  margin-bottom: 1em;
}
/* line 400, ../sass/screen.scss */
.query .profile {
  margin-bottom: 4em;
}
/* line 404, ../sass/screen.scss */
.query .search-term {
  color: #ef7878;
}
/* line 408, ../sass/screen.scss */
.query .media {
  display: block;
  border-bottom: 1px solid #a8cfef;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/* line 415, ../sass/screen.scss */
.query p.pre-results {
  margin-bottom: 2em;
}
/* line 419, ../sass/screen.scss */
.query .tags {
  border-bottom: 1px solid #a8cfef;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/* line 425, ../sass/screen.scss */
.query .tags .tag {
  display: inline-block;
  margin: 0 0.2em 0.4em 0;
  position: relative;
}
/* line 429, ../sass/screen.scss */
.query .tags .tag a {
  color: #1d5b89;
  padding: 0.2em 0.5em;
  background-color: #a8cfef;
  display: inline-block;
}
/* line 434, ../sass/screen.scss */
.query .tags .tag a:hover {
  background-color: #97bad7;
}

/* line 443, ../sass/screen.scss */
.result {
  margin-top: 0;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #a8cfef;
}
/* line 446, ../sass/screen.scss */
.result p {
  margin: 0.5em 0;
}
/* line 450, ../sass/screen.scss */
.result h2 {
  margin-top: 0;
}
/* line 459, ../sass/screen.scss */
.result.last-result {
  border-bottom: none;
}

/* line 464, ../sass/screen.scss */
.pagination {
  margin-bottom: 4em;
}
/* line 468, ../sass/screen.scss */
.pagination .pagination-container {
  position: relative;
}
/* line 473, ../sass/screen.scss */
.pagination .prev {
  text-align: left;
  position: absolute;
  top: 2px;
  left: 0;
  cursor: pointer;
}
/* line 482, ../sass/screen.scss */
.pagination .count {
  text-align: center;
  display: block;
  width: 100%;
}
/* line 488, ../sass/screen.scss */
.pagination .next {
  text-align: right;
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
}

/* line 500, ../sass/screen.scss */
.register-user {
  margin-top: 3em;
}

/* line 505, ../sass/screen.scss */
#registration {
  margin-bottom: 2em;
  overflow: hidden;
}
/* line 509, ../sass/screen.scss */
#registration label {
  color: #ef7878;
}

/* line 517, ../sass/screen.scss */
.login-page h2 {
  margin-bottom: 1em;
}
/* line 521, ../sass/screen.scss */
.login-page input[type="submit"] {
  float: left;
}

/* line 530, ../sass/screen.scss */
footer {
  background-color: #ef7878;
  padding: 3em;
  margin-top: 3em;
}
/* line 534, ../sass/screen.scss */
footer img {
  display: block;
  margin: auto;
}
