/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p286@adv/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../sass/_fonts.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 30, ../sass/_fonts.scss */
.icon-icons-04, .icon-icons-03, .icon-icons-02, .icon-icons-01 {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 40, ../sass/_fonts.scss */
.icon-icons-04:before {
  content: "\3e";
}

/* line 43, ../sass/_fonts.scss */
.icon-icons-03:before {
  content: "\3c";
}

/* line 46, ../sass/_fonts.scss */
.icon-icons-02:before {
  content: "\78";
}

/* line 49, ../sass/_fonts.scss */
.icon-icons-01:before {
  content: "\73";
}

/* line 53, ../sass/_fonts.scss */
.search-button, .pagination .prev, .pagination .next {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 11, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/screen.scss */
.search-button, .login-button, .register-button {
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  padding: 1em;
  background-color: #ef7878;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  line-height: 1;
}
/* line 27, ../sass/screen.scss */
.search-button:hover, .login-button:hover, .register-button:hover {
  background-color: #a75454;
  color: white;
}

/* line 41, ../sass/screen.scss */
.search-button {
  background-color: #1d5b89;
}
/* line 44, ../sass/screen.scss */
.search-button:hover {
  background-color: #143f5f;
}

/* line 57, ../sass/screen.scss */
.login-button, .register-button {
  background-color: rgba(255, 255, 255, 0);
  color: #ef7878;
}
/* line 61, ../sass/screen.scss */
.login-button:hover, .register-button:hover {
  background-color: #dfe0e1;
  color: #ef7878;
}

/* line 71, ../sass/screen.scss */
.search input[type="text"], body {
  font-size: 18px;
  color: #1d5b89;
  font-family: "franklin-gothic-urw", "franklin gothic", verdana, sans-serif;
  line-height: 1.38889;
}

/* line 78, ../sass/screen.scss */
.search input[type="text"] {
  outline: none;
  border: none;
  padding: calc(1em - 2px);
  background-color: #a8cfef;
  margin: 0;
  line-height: 1;
  width: 250px;
  vertical-align: top;
}

/* line 90, ../sass/screen.scss */
.about .network, .about .membercard, .about .site {
  width: 40%;
  margin: 3em auto 5em;
  color: white;
}
/* line 95, ../sass/screen.scss */
.about .network h2, .about .membercard h2, .about .site h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}
/* line 101, ../sass/screen.scss */
.about .network img, .about .membercard img, .about .site img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .7em;
}

@media all and (min-width: 900px) {
  /* line 109, ../sass/screen.scss */
  .query, .result, .pagination .pagination-container, .register-user {
    width: 40%;
    margin: auto;
  }
}

/* line 116, ../sass/screen.scss */
.query, .result {
  margin: 3em auto;
}
/* line 120, ../sass/screen.scss */
.query h2, .result h2 {
  font-weight: bold;
}
/* line 124, ../sass/screen.scss */
.query a.email, .result a.email, .query a.url, .result a.url {
  padding-right: 1em;
}
/* line 128, ../sass/screen.scss */
.query p, .result p {
  margin: 1em 0;
}

/* line 133, ../sass/screen.scss */
body {
  margin: 0;
}

/* line 138, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 142, ../sass/screen.scss */
a {
  color: #ef7878;
  text-decoration: none;
}
/* line 146, ../sass/screen.scss */
a:hover {
  color: #c96767;
}

/* line 151, ../sass/screen.scss */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/* line 165, ../sass/screen.scss */
.search {
  width: 30%;
  float: left;
}
/* line 170, ../sass/screen.scss */
.search img {
  display: none;
  width: 45px;
}
/* line 175, ../sass/screen.scss */
.search ::-webkit-input-placeholder {
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  color: white;
  opacity: 0;
}
/* line 181, ../sass/screen.scss */
.search :-moz-placeholder {
  /* Firefox 18- */
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  color: white;
  opacity: 0;
}
/* line 187, ../sass/screen.scss */
.search ::-moz-placeholder {
  /* Firefox 19+ */
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  color: white;
  opacity: 0;
}
/* line 193, ../sass/screen.scss */
.search :-ms-input-placeholder {
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  color: white;
  opacity: 0;
}
/* line 199, ../sass/screen.scss */
.search input[type="text"] {
  -webkit-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.3s, 0.3s;
  -moz-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s, padding 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s;
  -o-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s, padding 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s;
  transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s, padding 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.3s;
  width: 0;
  padding: 16px 0;
}
/* line 207, ../sass/screen.scss */
.search:hover {
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
}
/* line 211, ../sass/screen.scss */
.search:hover ::-webkit-input-placeholder {
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  opacity: 1;
}
/* line 216, ../sass/screen.scss */
.search:hover :-moz-placeholder {
  /* Firefox 18- */
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  opacity: 1;
}
/* line 221, ../sass/screen.scss */
.search:hover ::-moz-placeholder {
  /* Firefox 19+ */
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  opacity: 1;
}
/* line 226, ../sass/screen.scss */
.search:hover :-ms-input-placeholder {
  -webkit-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  -o-transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  transition: opacity 0.6s cubic-bezier(0.75, 0, 0.2, 1) 0.2s;
  opacity: 1;
}
/* line 231, ../sass/screen.scss */
.search:hover input {
  -webkit-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -moz-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -o-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  width: 280px;
  padding: 16px;
}
/* line 238, ../sass/screen.scss */
.search input[type="text"]:focus {
  -webkit-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -moz-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  -o-transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  transition: width 0.6s cubic-bezier(0.75, 0, 0.2, 1), padding 0.6s cubic-bezier(0.75, 0, 0.2, 1);
  width: 280px;
  padding: 16px;
}

/* line 245, ../sass/screen.scss */
.login {
  width: 50%;
  float: right;
  text-align: right;
}

/* line 251, ../sass/screen.scss */
.search-button {
  color: white;
}

/* line 265, ../sass/screen.scss */
.header {
  width: 100%;
  background-color: #ebeced;
  overflow: hidden;
}

/* line 274, ../sass/screen.scss */
.brand .logo {
  margin: 6em auto 1em auto;
  text-align: center;
}
/* line 279, ../sass/screen.scss */
.brand h1 {
  text-align: center;
  letter-spacing: 1;
  margin-bottom: 6em;
}
/* line 284, ../sass/screen.scss */
.brand h1 .logo-color-1 {
  color: #ef7878;
}
/* line 288, ../sass/screen.scss */
.brand h1 .logo-color-2 {
  color: #a8cfef;
}

/* line 294, ../sass/screen.scss */
.about {
  background-color: #ef7878;
  padding: 1em 0;
}

/* line 303, ../sass/screen.scss */
.query {
  margin-bottom: 1em;
}
/* line 309, ../sass/screen.scss */
.query .profile {
  margin-bottom: 4em;
}
/* line 313, ../sass/screen.scss */
.query .search-term {
  color: #ef7878;
}
/* line 317, ../sass/screen.scss */
.query .media {
  display: block;
  border-bottom: 1px solid #a8cfef;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/* line 324, ../sass/screen.scss */
.query .tags {
  border-bottom: 1px solid #a8cfef;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/* line 330, ../sass/screen.scss */
.query .tags .tag {
  display: inline-block;
  margin: 0 0.2em 0.4em 0;
  position: relative;
}
/* line 334, ../sass/screen.scss */
.query .tags .tag a {
  color: #1d5b89;
  padding: 0.2em 0.5em;
  background-color: #a8cfef;
  display: inline-block;
}
/* line 339, ../sass/screen.scss */
.query .tags .tag a:hover {
  background-color: #97bad7;
}

/* line 348, ../sass/screen.scss */
.result {
  margin-top: 0;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #a8cfef;
}
/* line 351, ../sass/screen.scss */
.result p {
  margin: 0.5em 0;
}
/* line 355, ../sass/screen.scss */
.result h2 {
  margin-top: 0;
}

/* line 365, ../sass/screen.scss */
.pagination {
  margin-bottom: 4em;
}
/* line 369, ../sass/screen.scss */
.pagination .pagination-container {
  position: relative;
}
/* line 374, ../sass/screen.scss */
.pagination .prev {
  text-align: left;
  position: absolute;
  top: 2px;
  left: 0;
  cursor: pointer;
}
/* line 383, ../sass/screen.scss */
.pagination .count {
  text-align: center;
  display: block;
  width: 100%;
}
/* line 389, ../sass/screen.scss */
.pagination .next {
  text-align: right;
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
}
